# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Yael Namen
	email = yael.namen@icloud.com
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[http "https://git.wz.hasbro.com/"]
	sslverify = false
