# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Yael Namen
	email = yael.namen@icloud.com
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[diff]
	tool = bc3
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[http "https://git.wz.hasbro.com"]
	sslVerify = false
